{{ define "main" }}
  {{/*  Star Trek: Relaunch titles have their own special list.  */}}
  {{ if eq $.Data.Term "Relaunch" }}
    <article class="pa3 pa4-ns nested-copy-line-height nested-img">
      <!-- @todo make this a parameter based on term name -->
      <h4 class="tc">Star Trek: Relaunch (post Nemesis litverse).</h4>
      <p class="tc">All the books set out to be read continue the events of TNG, DS9, and VOY beyond the final filmed events of the franchise, Star Trek: Nemesis.<br/>Every few weeks I am to read and review a book.</p>
      <section class="cf ph3 ph5-l pv3 pv4-l f4 center measure-wide lh-copy mid-gray">
        {{- .Content -}}
      </section>
      <!-- @todo Paginate this somehow -->
      {{ range .Pages.GroupByParam "phase" }}
      <div class="tc"><h2>{{ .Key }}</h2></div>
      <section class="flex-ns flex-wrap justify-around mt5">
        {{ range .Pages.ByWeight }}
        <div class="relative w-100 w-30-l mb4 bg-white shadow-1 br2 overflow-hidden">
          {{- partial "summary.html" . -}}
        </div>
        {{ end }}
      </section>
      {{ end }}
      <!-- {{- template "_internal/pagination.html" . -}} -->
    </article>
  {{ else }}
    {{/*  Default listing for other taxonomies  */}}
    <div class="mw8 center">    
      <section class="flex-ns flex-wrap justify-around mt5">
        {{ range .Pages }}
          <div class="relative w-100  mb4 bg-white">
            {{ partial "summary.html" . }}
          </div>
        {{ end }}
      </section>
    </div>
  {{ end }}
{{ end }}
